.container{
    margin:auto;
    background-color: peru;
    padding: 5%;
    width: 30%;
}

.rollsinput{
    width:50%;
}

.scorebutton{
    margin-left: 5%;
}

.visible{
    visibility: visible
}

.hidden{
    visibility: collapse
}